<div id="page-wrapper">
  <div id="profile-image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>HI THERE</h1>
    <p>
      g. Woke slow-carb flexitarian messenger bag schlitz portland. Messenger bag lumbersexual salvia hexagon fam edison bulb. Four loko post-ironic kinfolk, tofu cray mlkshk 90's swag sustainable. Trust fund next level poutine, portland aesthetic enamel pin plaid truffaut microdosing quinoa everyday carry. Fixie kogi XOXO, authentic list
    </p>
  </div>

</div>
